.onboard-container {
  max-width: 500px;

  margin: 0 auto;


  .title {
    font-size: 1.25rem;

    font-weight: bold;
  }

  .submit-container {
    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: space-between;

    flex-wrap: wrap-reverse;

    row-gap: 20px;

    column-gap: 30px;


    &__block {
      display: flex;
      margin-left: auto;
    }

    .message {
      margin-right: 1rem;


      p {
        margin: 0;

        padding: 0;
      }
    }
  }
}