.post-row-content {
  .link {
    font-size: 0.9rem;
  }

  .post-row-classification {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 10px;

    &__category {
      border-radius: 3px;
      background-color: hsl(210, 100%, 94%);
      padding: 0.25rem 0.5rem;
      font-size: .9rem;
      text-decoration: none;

      &:hover {
        background-color: hsl(210, 100%, 91%);
      }
    }

    &__tags {
      display: flex;
      align-items: center;
      column-gap: 10px;

      &>div {
        font-size: .9rem;
      }
    }
  }
}