.post {

  &__body {
    max-width: 100%;
    white-space: break-spaces;
    margin-bottom: 15px;

    pre {
      white-space: break-spaces;
    }

    img {
      max-width: 100%;
    }
  }

  .link {
    background: #6a69ff;

    color: #ffffff;

    border-radius: 2px;

    font-weight: bold;

    padding: 1rem;

    margin-top: 1rem;

    border: solid 3px #222263;

    cursor: pointer;

    display: block;
  }
}