.comment {
  display: flex;

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  .post-comment-container {
    width: 100%;
  }

  &-text {
    font-weight: normal;

    img {
      max-width: 100%;
    }
  }

  .post-comment {
    background: white;

    border: solid 3px #00000030;

    padding: 1rem;

    border-radius: 0.25rem;

    margin-bottom: 1.5rem;


    .comment-meta {
      opacity: 1;

      &__time {
        opacity: 0.5;
      }
    }

    .comment-text {
      font-weight: normal;

      img {
        max-width: 100%;
      }
    }

    .reply-button {
      text-decoration: underline;

      cursor: pointer;
    }

    a {
      color: inherit;
    }
  }

  .indent {
    margin-left: 1.5rem;
  }
}