.main-page-content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.top-categories {
    height: 100%;
    border-left: 2px solid black;
    margin-top: 80px;
    padding: 5px 0;
    padding-left: 20px;

    &__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 5px;
    }

    &__category {
        display: block;
        width: fit-content;
    }

    h3 {
        margin: 0;
        margin-bottom: 10px;
        white-space: nowrap;
    }
}