.header-posts-search {
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 700px;

        &>.submit-button {
            margin-bottom: .5rem;
            padding: 0.5rem;
        }
    }
}